/******************************************************************

Footer

******************************************************************/

.footer {
  min-height: 137px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;

  @include fluid-up('min-height', 137px);
  @include fluid-up('padding-top', 35px);
  @include fluid-up('padding-bottom', 20px);

  img {
    width: 100%;
    max-width: 497px;
    height: auto;

    @include fluid-up('max-width', 497px);
  }
}