/******************************************************************

Header

******************************************************************/

.header {
  background-color: $white;

  // margin-bottom
  $map: (
          576px: 30px,
          750px: 55px,
          992px: 65px,
          1920px: 70px,
          3840px: 80px
  );
  @include poly-fluid-sizing('margin-bottom', $map);

  /* Top Menu */
  &__top {
    align-items: center;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    padding: 0 25px;
    position: relative;
    z-index: 1;

    @include fluid-up('padding-left', 25px);
    @include fluid-up('padding-right', 25px);

    // min-height
    $map: (
            576px: 100px,
            750px: 130px,
            992px: 110px,
            1920px: 75px,
            3840px: 150px
    );
    @include poly-fluid-sizing('min-height', $map);


    /* Logo */
    #logo {
      margin-bottom: 0;
      max-width: 60vw;

      // min-width
      $map: (
              576px: 200px,
              750px: 250px,
              992px: 280px,
              1920px: 223px,
              3840px: 446px
      );
      @include poly-fluid-sizing('min-width', $map);

      a {
        display: block;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }


  /* Main Menu */
  .main-nav {
    @include project-default-box-shadow;
    background-color: $light-gray;
    padding: 0 50px;
    text-align: center;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      width: 100%;

      // min-height
      $map: (
              576px: 90px,
              750px: 95px,
              992px: 85px,
              1920px: 92px,
              3840px: 184px
      );
      @include poly-fluid-sizing('min-height', $map);
    }

    li {
      display: flex;
      justify-content: center;
      position: relative;

      a {
        @include project-default-transition;
        align-items: center;
        color: $gray;
        display: flex;
        font-weight: normal;
        height: auto;
        margin: 0 3.5vw;
        position: relative;
        text-decoration: none;

        // font-size
        $map: (
                576px: $small - 1,
                750px: $small + 2,
                992px: $small + 2,
                1920px: $small + 4,
                3840px: ($small + 4) * 2
        );
        @include poly-fluid-sizing('font-size', $map);

        &:hover {
          color: $gray;
          opacity: 1;
        }

        span {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 7px;
        }
      }

      &:before,
      &:after {
        @include project-default-transition;
        @include css3-transform(translateY(-20px) rotate(45deg) translate3d(0, 0, 0));
        background: $light-gray;
        bottom: -10px;
        content: "";
        height: 20px;
        left: 38%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        visibility: hidden;
        width: 20px;

        @include fluid-up('width', 20px);
        @include fluid-up('height', 20px);
        @include fluid-up('bottom', -10px);
      }

      &:after {
        @include project-default-box-shadow;
        z-index: -1;
      }

      &.active {

        &:before,
        &:after {
          @include css3-transform(translateY(0) rotate(45deg) translate3d(0, 0, 0));
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }

        a {
          color: $blue;
          font-family: $font-extra-bold;
        }
      }
    }
  }
}

/******************************************************************

Header Mobile

******************************************************************/

@media (max-width: 767px) {
  .header {

    /* Hamburger Menu Button */
    &__toggler {
      @include css3-transform(rotate(0deg));
      @include project-default-transition;
      width: 48px;
      height: 32px;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      span {
        @include css3-transition(all, .25s, ease-in-out);
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $white;
        opacity: 1;
        left: 0;
      }

      span:nth-child(1) {
        @include css3-prefix(transform-origin, left center);
        top: 0;
      }

      span:nth-child(2) {
        @include css3-prefix(transform-origin, left center);
        top: 13px;
      }

      span:nth-child(3) {
        @include css3-prefix(transform-origin, left center);
        top: 26px;
      }

      &.open span:nth-child(1) {
        @include css3-transform(rotate(45deg));
        top: -3px;
        left: 7px;
      }

      &.open span:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &.open span:nth-child(3) {
        @include css3-transform(rotate(-45deg));
        top: 31px;
        left: 8px;
      }
    }


    /* Top Menu */
    &__top {
      padding: 0 3vw;
    }


    /* Main Menu */
    .main-nav {
      @include project-default-transition;
      padding: 0;
      margin-top: -110px;
      margin-bottom: 30px;

      &.open {
        margin-top: 0;
      }

      ul {

        li {
          width: calc(25% - 2px);
          max-width: 120px;
          line-height: 1;

          a {
            padding: 20px 0;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            span {
              margin: 0 0 5px 0;
              min-height: 24px;
            }
          }
        }
      }
    }
  }
}