/******************************************************************

Partners

******************************************************************/

.partners {
  background-color: $white;
  padding: 60px 15px;

  h4 {
    margin-bottom: 0;

    @include fluid-up('font-size', $medium - 2);
  }

  * {
    color: $gray2;
  }

  &__partner {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      flex: 0 0 80vw;
      max-width: 80vw;

      // mobile
      @media (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    background-image: url("../images/partner.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include fluid-up('height', 115px);
    @include fluid-up('width', 115px);
    @include fluid-up('margin-left', 20px);
    @include fluid-up('margin-right', 20px);
    @include fluid-up('margin-top', 10px);
    @include fluid-up('margin-bottom', 10px);

    // HD
    @media (min-width: 1920px) {
      &-wrapper {
        flex: 0 0 45vw;
        max-width: 45vw;
      }
    }
  }
}