/******************************************************************

Tickets

******************************************************************/

.ticket {
  @include project-default-box-shadow;
  background-color: $light-gray;

  @include fluid-up('margin', 8px);

  // width
  $map: (
          576px: 366px,
          750px: 346px,
          992px: 316px,
          1920px: 366px,
          3840px: 672px
  );
  @include poly-fluid-sizing('width', $map);

  @media (max-width: 576px) {
    width: 100%;
  }

  &-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
    max-width: 100%;
    width: 100%;

    // tablet
    @media (min-width: 768px) and (max-width: 1199px) {
      align-items: flex-end;
    }
  }

  &__main-description {
    margin: 0 auto 55px auto;

    @include fluid-up('font-size', $small);

    // width
    $map: (
            576px: 300px,
            750px: 500px,
            992px: 550px,
            1920px: 560px,
            3840px: 1120px
    );
    @include poly-fluid-sizing('width', $map);
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include fluid-up('padding-bottom', 20px);
    @include fluid-up('padding-top', 20px);

    // min-height
    $map: (
            576px: 192px,
            750px: 198px,
            992px: 181px,
            1920px: 192px,
            3840px: 384px
    );
    @include poly-fluid-sizing('min-height', $map);

    &__title {
      color: $blue2;
      font-family: $font-extra-bold;
      line-height: 1em;
      margin-bottom: 15px;
      text-transform: uppercase;

      // font-size
      $map: (
              576px: $medium - 3,
              750px: $medium - 2,
              992px: $medium - 2,
              1920px: $medium,
              3840px: $medium * 2
      );
      @include poly-fluid-sizing('font-size', $map);
    }

    &__prize {
      color: $blue2;
      font-family: $font-bold;
      line-height: 1em;
      margin-bottom: 10px;

      // font-size
      $map: (
              576px: $large + 30,
              750px: $large + 25,
              992px: $large + 25,
              1920px: $large + 32,
              3840px: ($large + 32) * 2
      );
      @include poly-fluid-sizing('font-size', $map);
    }

    &__save {
      color: $gray3;
      line-height: 1em;
      margin-bottom: 5px;

      // font-size
      $map: (
              576px: $small,
              750px: $small + 2,
              992px: $small + 3,
              1920px: $small,
              3840px: $small * 2
      );
      @include poly-fluid-sizing('font-size', $map);
    }

    &__input {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: calc(100% - 44px) !important;

      // font-size
      $map: (
              576px: $small - 3,
              750px: $small - 2,
              992px: $small - 2,
              1920px: $small,
              3840px: $small * 2
      );
      @include poly-fluid-sizing('font-size', $map);
    }

    &__time {
      color: $blue;
      line-height: 1em;
      margin-bottom: 0;

      // font-size
      $map: (
              576px: $small + 4,
              750px: $small + 2,
              992px: $small + 4,
              1920px: $small + 4,
              3840px: ($small + 4) * 2
      );
      @include poly-fluid-sizing('font-size', $map);
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    @include project-default-transition;
    max-height: 0;
    overflow: hidden;
    padding: 0 10% 0 17%;

    .open & {
      max-height: 500px;
      padding: 10% 10% 12% 17%;
    }

    // mobile
    @media (max-width: 728px) {
      padding: 0 4% 0 17%;

      .open & {
        padding: 9% 4% 10% 11%;
      }
    }
  }

  &__button {
    background-color: $blue2;
    border: none;
    color: $white;
    display: block;
    font-family: $font-extra-bold;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    width: 100%;

    @include fluid-up('height', 60px);
    @include fluid-up('line-height', 60px);
    @include fluid-up('font-size', $medium);
  }

  &--popular {

    .ticket {

      &__content {
        justify-content: space-around;

        @include fluid-up('min-height', 250px);
        @include fluid-up('padding-top', 25px);
        @include fluid-up('padding-bottom', 25px);

        &__title {

          span {
            color: $red;
            display: block;
            font-family: $font;
          }
        }
      }

      &__button {
        background-color: $red;
      }
    }
  }

  &.open {
    &.ticket {
      &--popular {
        .ticket__description {
          padding: 9% 10% 30% 17%;

          // mobile
          @media (max-width: 728px) {
            padding: 9% 4% 10% 11%;
          }
        }
      }
    }
  }
}