<ul class="nav-list">
    <li>
        <a ng-click='toggleClassParent($event)' href="#/">Early bird <span class="highlight">Sold out</span></a>
    </li>
    <li class="active">
        <a ng-click='toggleClassParent($event)' href="#/">Summer Saver <span class="summer-saver-icon">&nbsp;</span></a>
    </li>
    <li>
        <a ng-click='toggleClassParent($event)' href="#/">Regular</a>
    </li>
    <li>
        <a ng-click='toggleClassParent($event)' href="#/">Late</a>
    </li>
    <li>
        <a ng-click='toggleClassParent($event)' href="#/">Onsite registration</a>
    </li>
</ul>

<p class="ticket__main-description text-center">
    Fashion axe keytar truffaut migas Farm-to-table PBR&B. Drinking vinegar sustainable helvetica sartorial. Dreatmcatcher live-edge lo-fi, chartreuse echo park pinterest distillery glossier plaid fingerstache. Fashion axe keytar truffaut migas Farm-to-table PBR&B. Drinking vinegar sustainable helvetica
</p>

<section class="ticket-wrapper">

    <div class="ticket">
        <article class="ticket__content">
            <h2 class="ticket__content__title">Summer saver</h2>
            <h3 class="ticket__content__prize">€1595</h3>
            <p class="ticket__content__save">Save €300</p>
            <p class="ticket__content__time">Until August 31.</p>
        </article>

        <article class="ticket__description">
            <ul class="default-list">
                <li>Cold-pressed poke thundercats brooklyn chillwave charteuse</li>
                <li>Craft beer 3 wolf moon tbh hoodie</li>
                <li>YOLO synth hammock</li>
                <li>Distillery aesthetic VHS affogato gentrify bespoke</li>
                <li>Chia readymade schlity brunch yuccie echo park</li>
            </ul>
        </article>
        <button class="ticket__button">Book now</button>
    </div>

    <div class="ticket ticket--popular">
        <article class="ticket__content">
            <h2 class="ticket__content__title"><span>Most popular</span> Expo only</h2>
            <h3 class="ticket__content__prize">€299</h3>
            <p class="ticket__content__time">Until October</p>
        </article>

        <article class="ticket__description">
            <ul class="default-list">
                <li>Cold-pressed poke thundercats brooklyn chillwave charteuse</li>
                <li>Craft beer 3 wolf moon tbh hoodie</li>
                <li>YOLO synth hammock</li>
                <li>Distillery aesthetic VHS affogato gentrify bespoke</li>
                <li>Chia readymade schlity brunch yuccie echo park</li>
            </ul>
        </article>

        <button class="ticket__button">Book now</button>
    </div>

    <div class="ticket">
        <article class="ticket__content">
            <h2 class="ticket__content__title">Public & Governmental sector</h2>
            <h3 class="ticket__content__prize">€1295</h3>
            <p class="ticket__content__save">Save €300 fromt the Summer Saver</p>
            <p class="ticket__content__time">Until October</p>
        </article>

        <article class="ticket__description">
            <ul class="default-list">
                <li>Cold-pressed poke thundercats brooklyn chillwave charteuse</li>
                <li>Craft beer 3 wolf moon tbh hoodie</li>
                <li>YOLO synth hammock</li>
                <li>Distillery aesthetic VHS affogato gentrify bespoke</li>
                <li>Chia readymade schlity brunch yuccie echo park</li>
            </ul>
        </article>

        <button class="ticket__button">Book now</button>
    </div>

    <div class="ticket">
        <article class="ticket__content">
            <h2 class="ticket__content__title">Standard Conference & Expo</h2>
            <h3 class="ticket__content__prize">€1695</h3>
            <p class="ticket__content__save">Do you have a promo code?</p>
            <input type="text" class="ticket__content__input input-small" placeholder="Type it here & then pick DAY01/DAY02 OR BOTH">
        </article>

        <article class="ticket__description">
            <ul class="default-list">
                <li>Cold-pressed poke thundercats brooklyn chillwave charteuse</li>
                <li>Craft beer 3 wolf moon tbh hoodie</li>
                <li>YOLO synth hammock</li>
                <li>Distillery aesthetic VHS affogato gentrify bespoke</li>
                <li>Chia readymade schlity brunch yuccie echo park</li>
            </ul>
        </article>
        <button class="ticket__button">Book now</button>
    </div>

</section>
<button ng-click="showBenefits($event)" class="btn d-table mx-auto" scroll-on-click>{{ (ticketsOpened) ? 'Close' : 'Compare Benefits' }}</button>