/******************************************************************

Icons

******************************************************************/

.single-attandee span {
  background-image: url("../images/single-icon.png");
  @include fluid-up('height', 19px);
  @include fluid-up('width', 11px);
}

.group-tickets span {
  background-image: url("../images/group-icon.png");
  @include fluid-up('height', 24px);
  @include fluid-up('width', 27px);
}

.investors span {
  background-image: url("../images/investors-icon.png");
  @include fluid-up('height', 24px);
  @include fluid-up('width', 24px);
}

.startups span {
  background-image: url("../images/startup-icon.png");
  @include fluid-up('height', 21px);
  @include fluid-up('width', 13px);
}

.summer-saver-icon {
  height: 100%;
  display: inline-block;
  background-image: url("../images/clock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: .4;
  margin: 0 4px;
  pointer-events: none;
  @include fluid-up('width', 73px);

  .active & {
    opacity: 1;
  }
}
