/******************************************************************

Mixins

******************************************************************/

/*********************
FLUID SIZING
*********************/
@mixin poly-fluid-sizing($property, $map) {
	// Get the number of provided breakpoints
	$length: length(map-keys($map));

	// Error if the number of breakpoints is < 2
	@if ($length < 2) {
		@error "poly-fluid-sizing() $map requires at least values"
	}

	// Sort the map by viewport width (key)
	$map: map-sort($map);
	$keys: map-keys($map);

	// Minimum size
	#{$property}: map-get($map, nth($keys,1));

	// Interpolated size through breakpoints
	@for $i from 1 through ($length - 1) {
		@media (min-width:nth($keys,$i)) {
			#{$property}: linear-interpolation((nth($keys,$i): map-get($map, nth($keys,$i)), nth($keys,($i+1)): map-get($map, nth($keys,($i + 1)))));
		}
	}

	// Maxmimum size
	@media (min-width:nth($keys,$length)) {
		#{$property}: map-get($map, nth($keys,$length));
	}
}

// Make fluid from 1920 to 3840
@mixin fluid-up($property, $value) {
	$map: (
					1920px: $value,
					3840px: $value * 2
	);
	@include poly-fluid-sizing($property, $map);
}

/*********************
CSS3 PREFIX
*********************/
@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

/*********************
BOX SHADOW
*********************/
@mixin css3-box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
	@if ($inset != "") {
		@include css3-prefix('box-shadow', $inset $x $y $blur $color);
	} @else {
		@include css3-prefix('box-shadow', $x $y $blur $color);
	}
}

// default
@mixin project-default-box-shadow()			{ @include css3-box-shadow(0, 0, 8px, rgba(0, 0, 0, .4))};

/*********************
TRANSITION
*********************/
@mixin css3-transition($what: all, $length: 1s, $easing: ease-in-out) {
	@include css3-prefix('transition', $what $length $easing);
}

// default
@mixin project-default-transition()			{ @include css3-transition(all, 0.5s, ease); };

/*********************
TRANSFORM
*********************/
@mixin css3-transform($params) {
	@include css3-prefix('transform', $params);
}

/*********************
FONT FACE
*********************/
@mixin css3-font-face($new-font-name, $new-font-filename) {
	@font-face {
		font-family: '#{$new-font-name}';
		src: url('../fonts/#{$new-font-filename}.eot');
		src: url('../fonts/#{$new-font-filename}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$new-font-filename}.woff') format('woff'),
		url('../fonts/#{$new-font-filename}.ttf') format('truetype'),
		url('../fonts/#{$new-font-filename}.svg##{$new-font-name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}