/******************************************************************

Typography

******************************************************************/

/* ===============================
     fonts
   =============================== */

// Regular
$font: "Roboto-Regular", Helvetica, Arial, sans-serif;
$font-italic: "Roboto-Regular-Italic", Helvetica, Arial, sans-serif;

// Bold
$font-bold: "Roboto-Bold" ,Helvetica, Arial, sans-serif;
$font-bold-italic: "Roboto-Bold-Italic" ,Helvetica, Arial, sans-serif;

// Extra Bold
$font-extra-bold: "Roboto-Black" ,Helvetica, Arial, sans-serif;
$font-extra-bold-italic: "Roboto-Black-Italic" ,Helvetica, Arial, sans-serif;

/* ===============================
     sizes
   =============================== */
$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;

/*********************
LINK STYLES
*********************/

a, a:visited {
  @include project-default-transition;
  color: inherit;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus {
    opacity: .8;
    color: inherit;
    text-decoration: underline;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: normal;

  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: $medium + 17;
  font-family: $font-bold;
  line-height: 1.333em;
  color: $blue2;
  margin: 0 0 $margin-bottom-default 0;
}

h2, .h2 {
  font-size: $medium + 14;
  line-height: 1.3em;
  font-family: $font-bold;
  font-weight: normal;
  color: $blue2;
  margin: 0 0 $margin-bottom-default 0;
}

h3, .h3 {
  font-size: $medium + 8;
  line-height: 1.3em;
  font-family: $font-bold;
  margin: 0 0 $margin-bottom-default 0;
}

h4, .h4 {
  font-size: $medium + 4;
  line-height: 1.3em;
  margin: 0 0 $margin-bottom-default 0;
}

h5, .h5 {
  font-size: $medium + 2;
  line-height: 1.3em;
  margin: 0 0 $margin-bottom-default - 5 0;
}

h6, .h6 {
  font-size: $medium;
  line-height: 1.3em;
  margin: 0 0 $margin-bottom-default - 5 0;
}


p {
  margin: 0 0 $margin-bottom-default - 13 0;
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

ul.default-list {
  padding-left: 20px;
  list-style-type: none;

  li {
    color: $text-color;
    font-family: $font;
    position: relative;
    margin-bottom: 10px;

    @include fluid-up('font-size', $small + 1)
    
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $blue2;
      position: absolute;
      left: -15px;
      top: 10px;
    }
  }
}

ul.nav-list {
  display: flex;
  color: $light-blue;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 55px;
  list-style-type: none;
  padding-left: 0;
  margin-top:0;

  // margin-bottom
  $map: (
          576px: 50px,
          750px: 40px,
          992px: 45px,
          1920px: 55px,
          3840px: 110px
  );
  @include poly-fluid-sizing('margin-bottom', $map);

  li {
    position: relative;

    @include fluid-up('line-height', 22px);
    @include fluid-up('margin-left', 10px);
    @include fluid-up('margin-right', 10px);

    .highlight {
      pointer-events: none;
    }

    a {
      transition: none;

      // font-size
      $map: (
              576px: $small + 8,
              750px: $small + 2,
              992px: $small + 2,
              1920px: $small + 4,
              3840px: ($small + 4) * 2
      );
      @include poly-fluid-sizing('font-size', $map);

      &:visited,
      &:hover,
      &:focus,
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after,
    &:before {
      @include css3-transform(skewX(-13deg));
      content: '';
      position: absolute;
      width: 1px;
      height: 80%;
      top: 10%;
      background: $light-blue;
    }

    &:after {
      right: -11px;
    }

    &:before {
      left: -10px;
    }

    &.active {
      color: $blue;
      font-family: $font-bold;

      &:after,
      &:before {
        top: 0;
        background: $blue;
        width: 5px;
        z-index: 1;
        height: 100%;
      }

      &:after {
        right: -13px;
      }

      &:before {
        left: -12px;
      }
    }
  }

  // mobile
  @media (max-width: 767px) {
    flex-direction: column;

    li {
      margin: 5px 0;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}


.highlight {
  background-color: $light-blue;
  color: $white;
  padding: 2px 4px;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;

  @include fluid-up('bottom', 2px);

  // font-size
  $map: (
          576px: $small + 2,
          750px: $small,
          992px: $small - 2,
          1920px: $small - 2,
          3840px: ($small - 2) * 2
  );
  @include poly-fluid-sizing('font-size', $map);

  .active & {
    background-color: $blue;
  }
}