/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;

$light-gray:        #f8f8f8;
$gray:              #a6a6a6;
$gray2:             #cccccc;
$gray3:             #999999;
$dark-gray:         #2c292a;
$text-color:        $dark-gray;
$light-blue:        #bee6f2;
$blue:              #14a3d1;
$blue2:             #18a8e1;
$red:               #ff0033;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					$red;
$alert-green:				#645564;
$alert-blue:				blue;

$margin-bottom-default:    25px;