<section class="partners">
    <h4 class="text-center">
        OUR TRUSTED PARTNERS
    </h4>
    <div class="partners__partner-wrapper">
        <div class="partners__partner">&nbsp;</div>
        <div class="partners__partner">&nbsp;</div>
        <div class="partners__partner">&nbsp;</div>
        <div class="partners__partner">&nbsp;</div>
        <div class="partners__partner">&nbsp;</div>
    </div>
</section>

<footer class="footer">
    <img class="center" src="images/footer.png" alt="Footer">
</footer>
