<!-- Main navigation -->
<header class="header" role="banner" ng-controller="MainController">
    <div class="header__top">
        <!-- logo -->
        <h1 id="logo" class="text-hide">
            <a href="#/" rel="nofollow"><img src="images/hrtech-logo.png" alt="HRN"></a>
        </h1>

        <div class="header__toggler" ng-click="openMenu($event)">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- nav -->
    <nav class="main-nav" role="navigation">
        <ul>
            <li ng-class="{active: location === '/'}"><a class="single-attandee" href="#/"><span>&nbsp;</span>SINGLE ATTANDEE</a></li>
            <li ng-class="{active: location === '/group-tickets'}"><a class="group-tickets" href="#/group-tickets"><span>&nbsp;</span>GROUP TICKETS</a></li>
            <li ng-class="{active: location === '/investors'}"><a class="investors" href="#/investors"><span>&nbsp;</span>INVESTORS</a></li>
            <li ng-class="{active: location === '/startups'}"><a class="startups" href="#/startups"><span>&nbsp;</span>STARTUPS</a></li>
        </ul>
    </nav>
</header>
