/******************************************************************

Base stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $white;
	color: $text-color;
	font-family: $font;
	font-size: $small;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


.main {
	@include fluid-up('margin-bottom', 50px);
}

.footer,
.header,
.main {
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
