/******************************************************************

Buttons

******************************************************************/

.btn {
  @include project-default-transition;
  border:1px solid $blue2;
  color: $blue2;
  display: inline-block;
  text-align: center;
  font-family: $font-bold;
  outline: none !important;
  text-transform: uppercase;
  background-color: $white;
  @include fluid-up('padding-left', 20px);
  @include fluid-up('padding-right', 20px);
  @include fluid-up('height', 39px);
  @include fluid-up('line-height', 33px);
  @include fluid-up('font-size', $small);
  @include fluid-up('min-width', 206px);

  &:visited {
    color: $blue2;
  }

  // desktop
  @media (min-width: 1200px) {
    &:hover,
    &:focus,
    &:active {
      background-color: $blue2 !important;
      color: $white !important;
      text-decoration: none;
    }
  }
}