/******************************************************************

Loader

******************************************************************/

.loader {
  @include project-default-transition;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  &.loaded {
    opacity: 0;
    pointer-events: none;
    @include css3-transform(translateY(-150%));
  }

  &-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line-scale-party>div,
  .line-scale>div {
    background-color: $dark-gray;
  }
}
